
/* Style the navigation bar */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;

    /* Border rules */
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

/* Style the links inside the navigation bar */
.navbar a {
    display : inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    /* Border rules */
    border-left: 4px double #000000;
    margin-right: -4px;
}

/* Remove the border from the first link */
.navbar a:first-child {
    border-left: none;
}

/* Style the links on hover */
.navbar a:hover {
    background-color: #D9D9D9;
    color: #319fe8;
}
  
/* Style the active/current link */
.navbar a.active {
    background-color: #284B63;
    color: #ffffff;
}

/* Style the content sections */
.content {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 0;
}